/*

!Vagrantfile
!README.md
!.gitignore

!/public
/public/*
!/public/user/*
/public/user/.idea
/public/user/config/security.yaml
/public/user/data/*
!/public/user/data/.*
/public/user/plugins/*
!/public/user/plugins/.*
/public/user/themes/learn2
/public/user/localhost/config/security.yaml
